<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuxflix.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="NuxFlix"
        android:theme="@style/Theme.NuxFlix"
        android:usesCleartextTraffic="true"
        android:icon="@android:drawable/ic_media_play">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".PlayerActivity"
            android:theme="@style/Theme.NuxFlix.Player"
            android:screenOrientation="landscape"
            android:exported="false"/>

    </application>
</manifest>
